@tailwind base;
@tailwind components;
@tailwind utilities;

/* make the background colour of the main page and image in the Images Folder */
body {  
    background: url(../src/BackgroundImages/indexphoto.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    height: auto;
    max-width: 100%;
  } 

/* make the footer stick to the base of the page */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  }